* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8f9fa;
  color: #212529;
}

.navbar {
  background: #343a40;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #61dafb;
  margin-left: 15px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.main {
}
